SECRET_KEY=replace-with-a-random-secret
DATABASE_URL=postgresql://charbt:charbt@postgres:5432/charbt_db
AWS_ACCES_KEY=
AWS_SECRET_KEY=
EMAIL_SMTP_HOST=smtp.example.com
EMAIL_SMTP_PORT=465
EMAIL_PASSWORD=
STRIPE_KEY=
STRIPE_SECRET=
STRIPE_ENDPOINT_DELETED=
STRIPE_ENDPOINT_CANCELED=
STRIPE_ENDPOINT_COMPLITE=
TELEGRAM_API=
